* {
	box-sizing: border-box;
}

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}template,[hidden]{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:0.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/*! Start Type Nugget Styles */

body {
	font-family: 'Lato';
	font-size: 16px;
	color: #333;
	background-color: #FFF;
	line-height: 1.735;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
	line-height: 1.2;
	text-transform: uppercase;
	color: $main-color;
}

h1 {
	font-size: 3em;
	font-weight: 700;
	margin-top: 0.53em;
	margin-bottom: 0.53em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.875em;
	font-weight: 400;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h4 {
	font-size: 1.125em;
	font-weight: 800;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

h5 {
	font-size: 1.06em;
	font-weight: 700;
	margin-top: 0.94em;
	margin-bottom: 0.94em;
}

h6 {
	font-size: 1em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 1em;
}

p {
	margin-top: 1em;
	margin-bottom: 1.5em;
	font-size: 0.875em;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

a {
	color: #790cf4;
}

ul,ol {
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-left: 1.1em;
}

li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

section {
  display: inline-block;
  width: 100%;
  padding: 6em 0;
  background: #fff;
	text-align: center;
}

footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,240018+100 */
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #240018 0%, #000000 36%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #240018 0%,#000000 36%); /* Chrome10-25,Safari5.1-6 */
	background: url('/images/bg-footer.png') no-repeat bottom, linear-gradient(to bottom,  #240018 0%,#000000 36%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#240018', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	width: 100%;
	float: left;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

input {
	width: 204px;
	padding: 0 5px;
	border: none;
	font-size: 1.125em;
}

input[type="submit"] {
	border: none;
	font-size: 0.875em;
}

label {
	margin: 0 0 7px 0;
	padding: 0 0 0 5px;
	font-size: 0.625em;
}
