.img-responsive {
  width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

.clr {
  display: none;
}

.fixed-header {
  position: fixed;
  top: 0;
  background: #000;
  transition: .5s;
  width: 100%;
  z-index: 10000000000000;
  left: 0;
  padding: 0 15px;
}
