.container {
  @include center($jeet-max-width);
  padding: 0 20px;
}

.row {
  @include column(1/1);
}

/* WIDGETS */

.widget {
  @include column(1/3);
}



/* HELPER CLASSES */

.full {
  @include span(1/1);
}

.half {
  @include span(1/2);
}

/* FOOTER */

.footer-widget {
  @include column(1/3);
}



/* MEDIA QUERIES */

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  /* WIDGETS */

  .widget {
    @include column(1/1);
  }

  /* HELPER CLASSES */

  .half {
    @include span(1/1);
  }

  /* FOOTER */

  .footer-widget {
    @include column(1/1);
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
