/* HEADER */

.header-logo {
  width: 196px;
  height: 45px;
  object-fit: contain;
}

.main-nav li{
  display: inline-block;
  margin: 0 35px 0 0;
  padding: 30px 0;
}

.main-nav li:last-child{
  margin-right: 0;
}

.main-nav li:hover {
  border-bottom: 6px solid $main-color;
  transition: .2s;
}

.main-nav a{
  text-decoration: none;
  color: #fff;
}

.main-nav a.active, .main-nav a:hover {
  color: $main-color;
  transition: .5s;
}

/* menu overide */

ul.slimmenu li {
  position: relative;
  float: left;
  display: inline-block;
  background-color: transparent;
}

ul.slimmenu > li {
  border-left: none;
}

ul.slimmenu li a {
  display: block;
  padding: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
}

ul.slimmenu li a:hover {
  text-decoration: none;
  background-color: transparent;
}

.menu-collapser {
  position: fixed;
  width: 100%;
  background-color: #999;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  nav.main-nav {
    width: 100%;
    background: gray;
    margin: 0 -5px 0 -15px;
    position: fixed;
    top: 48px;
    z-index: 10;
  }
}

section.hero {
  background: url('/images/bg-hero.jpg') no-repeat $dark-color;
  color: #fff;
  padding: 51px 0 100px;
  background-size: cover;
}

header {
  margin-bottom: 189px;
}

.hero-title {
  color: #fff;
  margin-bottom: 12px;
}

.hero-subtitle {
  margin-bottom: 76px;
}

.hero-btn {
  margin-bottom: 15px;
}



/* SECTION */

.section {
  padding: 71px 0;
}

section.gray {
  background: $light-gray;
}

.section-title {
  margin: 0 0 25px 0;
}

.section-div {
  margin-bottom: 87px;
  float: left;
  width: 100%;
}

.section-divider {
  width: 80px;
  height: 16px;
  object-fit: contain;
}


/* SLIDER */

.car-mazda {
  width: 198px;
  height: 130px;
  object-fit: contain;
}

.slider {
  max-width: 728px;
  margin: 0 auto 62px;
}

.slick-slide img {
  display: inline-block;
}

.slider-selector {
  font-size: 1.125em;
  margin-bottom: 71px;
}

.slider-control {
  cursor: pointer;
}

.slick-prev {
  display: inline;
  position: absolute;
  left: -50px;
  top: 20%;
  z-index: 100000000;
}

.slick-next {
  display: inline;
  position: absolute;
  right: -50px;
  top: 20%;
}


.slider-selector li {
  display: inline-block;
  list-style: none;
  cursor: pointer;
  padding: 7px;
}

.slider-selector li.active {
  color: $main-color;
  border-bottom: 3px solid $main-color;
}

.slider-option:hover {
  color: $main-color;
  transition: .2s;
  border-bottom: 3px solid $main-color;
}

/* FORM */

.visit-form {
  background: $main-color;
  color: #fff;
  padding: 30px;
  text-align: left;
}

.form-title {
  color: #fff;
  margin-bottom: 36px;
  text-align: center;
}

.input-field {
  display: flex;
  justify-content: space-between;
  max-width: 666px;
  margin: 29px auto 51px;
}

.form-submit {
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.range-wrapper {
  max-width: 666px;
  margin: 0 auto;
}

.rangeslider__fill {
  background: #000;
}

.rangeslider__handle {
  background: #eeeeee;
  width: 30px;
  height: 30px;
}

.rangeslider--horizontal {
  height: 12px;
}

.rangeslider__handle:after {
  content: none;
}

.range-output {
  text-align: center;
  width: 100%;
  font-size: 1.125em;
  margin-bottom: 23px;
}

.range-marker-wrapper {
  width: 713px;
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
  margin-top: 18px;
  margin-left: -25px;
  margin-right: 25px;
}

.error {
  color: #000;
  font-size: 0.875em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 0.75em;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.75em;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.75em;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 0.75em;
}

input[type="text"], input[type="email"] {
  height: 31px;
}

#result {
  text-align: center;
}

h2.form-response {
  font-size: 1.5em;
  color: #fff;
}

/* WIDGETS */

.widget-wrapper {
  float: left;
  width: 100%;
  margin-bottom: 93px;
}

.icon-contact {
  width: 60px;
  height: 65px;
  object-fit: contain;
}

.widget-icon_wrapper {
  background: $main-color;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.widget-title {
  color: #000;
}

/* FEATURES */

.feature {
  position: relative;
  color: #fff;
}

.feature a {
  text-decoration: none;
  color: #fff;
}

.feature-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 40%
}

.feature-text_overlay {
    background: rgba(0,0,0,.7);
    max-width: 420px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 70px 0 60px;
    margin: -50px auto 0;
}

.feature-title {
  color: #fff;
  margin: 0 0 9px 0;
}

.feature-subtitle {
  font-size: 1.125em;
  margin: 0;
}

.small-print {
  text-align: left;
  float: left;
  width: 100%;
  font-size: 0.875em;
}

/* LOGO LIST */

.logo-se {
  width: 191px;
  height: 61px;
  object-fit: contain;
}

.logo-profeco {
  width: 113px;
  height: 37px;
  object-fit: contain;
}

.logo-shcp {
  width: 189px;
  height: 61px;
  object-fit: contain;
}

.logo-list_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 720px;
  margin: 0 auto;
  align-items: center;
}

.logo-list_img:last-child {
  margin-right: 0;
}

/* FOOTER */

footer {
  padding: 63px 0 241px;
}

footer p {
  color: #fff;
}

.footer-widget_title {
  margin-bottom: 36px;
}

.footer-widget_link {
  color: #fff;
  text-decoration: underline;
}

.footer-logo {
  width: 196px;
  height: 45px;
  object-fit: contain;
}

.logo-social {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-right: 10px;
}


/* SCROLL TOP */

.scroll-top {
  display: inline-block;
  width: 50px;
  height: 60px;
  position: fixed;
  right: 60px;
  bottom: 30px;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  visibility: hidden;
  text-align: center; }
  .scroll-top i {
    position: relative;
    top: 8px; }
  @media screen and (max-width: 992px) {
    .scroll-top {
      display: none; } }
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }

/* MODAL */

.modaal-container {
  max-width: 800px;
}

.modaal-content-container p, .modaal-content-container ul li, .modaal-content-container ol li {
  font-size: 0.75em;
}

h3.moodal-title {
  font-size: 1.5em;
  margin-bottom: 12px;
}

.modal-title-divider {
  margin: 0 0 55px 0;
}

.aviso-logo {
  margin-bottom: 58px;
}

.modaal-wrapper .modaal-close {
  background:transparent url('/images/close-modal.png') center center no-repeat;
}

.modaal-close:after, .modaal-close:before {
  content: none;
}


/* MEDIA QUERIES */

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  /* HEADER  */

  .header .header-logo {
    display: none;
  }

  .header-logo-mobile {
    float: left;
  }

  .menu-collapser {
    padding: 15px;
    background: #000;
  }

  .collapse-button {
    position: absolute;
    right: 14px;
    top: 50%;
    width: 50px;
    padding: 16px;
    background-color: $main-color;
  }


  .collapse-button:hover {
    background-color: $main-color;
    border: 1px solid #fff;
  }

  nav.main-nav {
    margin: 27px 1px 0 -15px;
  }

  ul.slimmenu.collapsed li {
    background: $main-color;
  }

  ul.slimmenu.collapsed li a.active {
    color: #fff;
  }

  ul.slimmenu.collapsed li {
    margin: 0;
    padding: 0;
  }

  ul.slimmenu.collapsed li a {
    padding: 10px 0;
  }

  .menu-collapser {
    height: 75px;
  }

  .main-nav li:hover {
    border-bottom: 1px solid #fff;
    transition: .2s;
  }

  ul.slimmenu.collapsed li a:hover {
    background: darken($main-color, 20%);
    transition: .5s
  }

  .main-nav a.active, .main-nav a:hover {
    color: #fff;
  }

  /* LOGO LIST */

  .logo-list_wrapper {
    flex-direction: column;
  }

  .logo-list_img {
    margin-bottom: 50px;
  }

  .logo-list_img:last-child {
    margin-bottom: 0;
  }

  /* FORM */

  input {
    width: 100%;
  }

  .input-field {
    flex-direction: column;
    margin: 35px 0;
  }

  /* SLIDER */

  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }


}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .range-marker-wrapper {
      width: 100%;
      margin: 20px 0 0 0;
  }

  /* FEATURE */

  .feature-double {
    margin: 0!important;
  }

  .feature-title {
    font-size: 1.2em;
  }

  .feature-subtitle {
    font-size: .9em;
  }

  .feature-text_overlay {
    padding: 33px 0 29px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  header {
      margin-bottom: 100px;
  }

  /* FEATURE */

  .feature-double {
    margin: 0!important;
  }

  .feature-title {
    font-size: 1.2em;
  }

  .feature-subtitle {
    font-size: .9em;
  }

  .feature-text_overlay {
    padding: 33px 0 29px;
  }

  .feature-text {
    top: 33%;
  }

  .feature-single .feature-text {
    top: 40%;
  }

}
