<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Use the title from a page's frontmatter if it has one -->
        <title><%= current_page.data.title || "Middleman" %></title>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/rangeslider.js/2.3.0/rangeslider.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/modaal/0.3.1/css/modaal.min.css">
        <link rel="icon" type="image/png" href="/favicon.png"/>

        <%= stylesheet_link_tag "site" %>
        <%= javascript_include_tag "site" %>
    </head>
    <body>
        <%= yield %>
    </body>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/rangeslider.js/2.3.0/rangeslider.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/modaal/0.3.1/js/modaal.min.js"></script>
    <script src="javascripts/messages_es.js"></script>
    <script src="javascripts/jquery.slimmenu.min.js"></script>
    <script src="javascripts/smooth-scroll.min.js"></script>
    <script>
        $(document).ready(function () {

            smoothScroll.init({speed: 1500});

            /*============================*/
            /* 04 - WINDOW SCROLL */
            /*============================*/
            $(window).on('scroll load', function () {
                if ($(window).scrollTop() > 500) {
                    $('.scroll-top').addClass('active');

                } else {
                    $('.scroll-top').removeClass('active');
                }
            });

            //SCROLL TOP
            $('.scroll-top').on('click', function (e) {
                e.preventDefault();
                $('body, html').animate({
                    'scrollTop': 0
                }, 800);
            });


            /* FIXED HEADER */

            $(window).on('scroll load', function () {
                if ($(window).scrollTop() > 250) {
                    $('header.header').addClass('fixed-header');

                } else {
                    $('header.header').removeClass('fixed-header');
                }
            })


            $('.modal').modaal();

            $('#menu').slimmenu({
                resizeWidth: '768',
                collapserTitle: '<img src="/images/logo.png" srcset="/images/logo@2x.png 2x,/images/logo@3x.png 3x" class="header-logo-mobile">',
                animSpeed: 'medium',
                easingEffect: null,
                indentChildren: false,
                childrenIndenter: '&nbsp;'
            });

            $('#menu.slimmenu.collapsed li a').click(function () {
                $('.collapse-button').click();
            });

            $("#visitForm").validate({
                submitHandler: function (form) {
                    $.ajax({
                        type: "POST",
                        url: "/submit-form.php",
                        data: $(form).serialize(),
                        success: function () {
                            $('#result').html("<h2 class='form-response'>Hemos recibido tu solicitud, <br>pronto nos pondremos en contacto contigo.</h2>");
                            $('input[type=text],input[type=email]').val("")
                        }
                    });
                    return false; // required to block normal submit since you used ajax
                }
            });

            function initSlider(slider) {
                slider.slick({
                    slidesToShow: 3,
                    prevArrow: '<span class="slider-control slick-prev"><img src="/images/slider-prev.png"></span>',
                    nextArrow: '<span class="slider-control slick-next"><img src="/images/slider-next.png"></span>',
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                prevArrow: '<span class="slider-control slick-prev"><img src="/images/slider-prev.png"></span>',
                                nextArrow: '<span class="slider-control slick-next"><img src="/images/slider-next.png"></span>'
                            }
                        }, {
                            breakpoint: 770,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                prevArrow: '<span class="slider-control slick-prev"><img src="/images/slider-prev.png"></span>',
                                nextArrow: '<span class="slider-control slick-next"><img src="/images/slider-next.png"></span>'
                            }
                        }, {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                prevArrow: '<span class="slider-control slick-prev"><img src="/images/slider-prev.png"></span>',
                                nextArrow: '<span class="slider-control slick-next"><img src="/images/slider-next.png"></span>'
                            }
                        }, {
                            breakpoint: 330,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                prevArrow: '<span class="slider-control slick-prev"><img src="/images/slider-prev.png"></span>',
                                nextArrow: '<span class="slider-control slick-next"><img src="/images/slider-next.png"></span>'
                            }
                        }
                        // You can unslick at a given breakpoint now by adding: settings: "unslick" instead of a settings object
                    ]
                });
            }

            initSlider($('.slider'));

            $('.slider-selector li').click(function () {
                sliderBrandToggle($(this));
                $('.slider-selector li').removeClass('active');
                $(this).addClass('active');
            });


            function sliderBrandToggle(brand) {
                var selectedBrand = brand.data('brand');
                var sliders = $('.slider');

                sliders.addClass('hide');

                sliders.each(function (index) {
                    var brand = $(this).data('brand');
                    if (brand === selectedBrand) {
                        $(this).removeClass('hide');
                        $(this).slick('unslick');
                        initSlider($(this));
                    }
                });
            };

            $('input[type="range"]').rangeslider({
                polyfill: false,
                onInit: function () {
                    var string = numeral(this.$element.val()).format('0,0');
                    this.output = $('<div class="range-output" />').insertAfter($('.range-value')).html(string).prepend('$');
                },
                onSlide: function (position, value) {
                    var string = numeral(value).format('0,0');
                    this.output.html(string).prepend('$');
                }
            });

        });
    </script>
</html>
