<div id="comisiones" style="display:none;">
	<p class="aviso-logo text-center"><img src="/images/logo-blk.png" alt="" ></p>
	<h3 class="aviso-title text-center">Comisiones</h3>
	<p class="text-center modal-title-divider"><img src="/images/modal-title-divider.jpg" alt=""></p>
	<h4>Cuota de inscripción:</h4>
	<p>1.50% más el I.V.A., sobre el valor presente del bien.</p>
	<h4>Factor de actualización:</h4>
	<p>L0.40% mensual sobre el valor del bien, una vez que resulte adjudicatario.</p>
	<h4>Cuota de administración:</h4>
	<p>0.20% más el I.V.A. mensual sobre el valor presente del bien. </p>
	<h4>Recargo por mora:</h4>
	<p>TIIE (tasa de interés interbancaria de equilibrio) a cuatro semanas, o su equivalente, publicada por el Banco de México, más 20 veinte puntos porcentuales, calculado sobre el número de días que transcurran entre la fecha en que debió realizarse el pago y la fecha en que se realice, sobre saldo insoluto, aplicando sólo en el caso de consumidores adjudicados.</p>
</div>
