<div id="comprobante-ingresos" style="display:none;">
	<p class="aviso-logo text-center"><img src="/images/logo-blk.png" alt="" ></p>
	<h3 class="aviso-title text-center">Aviso Privacidad</h3>
	<p>En cumplimiento con lo establecido por la Ley Federal de Protección de Datos Personales, en posesión de particulares publicada en el Diario Oficial de la Federación el día 05 de Julio de 2010, (La Ley) se extiende al presente Aviso de Privacidad.</p>
	<h4>I.- Responsable del tratamiento de datos personales:</h4>
	<p>Para efectos del presente Aviso de Privacidad <strong>Evaluar la calidad de los servicios recibidos</strong> y sus empresas afiliadas y subsidiarias, señalan como responsable de la obtención divulgación, almacenamiento, uso, manejo, aprovechamiento, transferencia o disposición de datos personales (en adelante el “Tratamiento”) a <strong>AFACIL</strong>, S.A. DE C.V. en lo sucesivo <strong>AFACIL</strong>, con domicilio en Circuito Centro Cívico número 27 interior 203, colonia Ciudad Satélite, Municipio Naucalpan de Juárez C.P 53100, por lo que se hace de su conocimiento que los datos personales que nos proporcione como proveedor activo o potencial serán tratados estrictamente para los fines que más adelante se indican.</p>
	<h4>II.- Datos Personales:</h4>
	<p>Los datos personales que serán tratados por <strong>AFACIL</strong>, consistente en información personal del Titular, la cual puede comprender: su Nombre, Denominación o Razón Social, Domicilio Fiscal, RFC o CURP, fecha de Constitución, Nombre del Representante Legal, Nombre del Agente de Ventas o Contacto, Números telefónicos, Correo Electrónico, así como datos financieros o patrimoniales (Cuenta Bancaria y/o Cuenta Clave Interbancaria, Nombre del Banco, Número de Sucursal donde radica la cuenta),, entre otros estrictamente indispensables para los fines que más adelante se señalan. </p>
	<p>En caso de no contar con sus datos personales “<strong>AFACIL</strong>” no estaría en posibilidad de realizar su registro como proveedor y/o cliente activo o potencial; y dar el debido cumplimiento a las obligaciones que se deriven de la posible relación jurídica que exista entre usted y <strong>AFACIL</strong> ; dando cumplimiento a la legislación aplicable; preparar posibles pedidos, solicitudes de servicios, evaluaciones de carácter comercial, cotizaciones y cualquier actividad pre-contractual; sondeo de gestiones empresariales vinculadas con los productos hoy servicios proporcionados (gestión de almacén, etc); por lo que <strong>AFACIL</strong>, no tendría ningún tipo de responsabilidad derivado de ello.</p>
	<h4>III.- Finalidades del tratamiento de información:</h4>
	<p><strong>AFACIL</strong>, Recaba sus datos personales sin fines de divulgación o utilización comercial de los mismos, y serán tratados únicamente para los siguientes fines:</p>
	<ol>
		<li>Evaluación como proveedor potencial.</li>
		<li>Elaboración y celebración de contratos con el proveedor que en su caso se requieran.</li>
		<li>El cumplimiento de obligaciones que deriven de la relación jurídica que se establezca con el proveedor.</li>
		<li>Adquirir / Recibir los servicios solicitados.</li>
		<li>Evaluar la calidad de los servicios recibidos.</li>
	</ol>
</div>
