<div id="nosotros" style="display:none;">
	<p class="aviso-logo text-center"><img src="/images/logo-blk.png" alt="" ></p>
	<h3 class="aviso-title text-center modaal-title">NOSOTROS</h3>
	<p class="text-center modal-title-divider"><img src="/images/modal-title-divider.jpg" alt=""></p>
	<p>Somos una empresa 100% Mexicana constituida bajo las Leyes y Normas de México que opera bajo la regulación de las Instituciones Mexicanas.</p>
	<h4>VISIÓN:</h4>
	<p>Ser la Empresa Líder de Autofinanciamiento, excediendo las necesidades específicas de cada uno de nuestros clientes, colaboradores y accionistas.</p>
	<h4>MISIÓN</h4>
	<p>Apoyar a nuestros clientes en adquirir bienes fortaleciendo su patrimonio de manera cómoda y segura.</p>
	<h4>BENEFICIOS</h4>
	<ul>
		<li>No necesitas Cuenta Bancaria</li>
		<li>No necesitas contar con Buró de Crédito favorable</li>
		<li>No necesitas enganche</li>
	</ul>
	<h4>REQUISITOS</h4>
	<p>Como primer paso para contratar tu plan de Autofinanciamiento, tan solo necesitas:</p>
	<ul>
		<li>Pagar tu primer mensualidad</li>
		<li>Presentar identificación oficial Original</li>
		<li>Firmar contrato, solicitud de seguro de vida y aviso de privacidad</li>
	</ul>
	<h4>ESTRENA</h4>
	<p>Una vez que resultes adjudicado en el evento mensual donde se asignan los automóviles y tu aval ha sido autorizado, deberás:</p>
	<ul>
		<li>Estar al corriente con tus pagos</li>
		<li>Indicar el uso del automóvil: particular o servicio público</li>
		<li>Contratar un seguro automotriz de cobertura amplia a través de AFACIL indicando si el pago será mensual financiado o anual con renovación al vencimiento</li>
		<li>Programar la fecha de entrega</li>
		<li>Firmar los documentos de entrega</li>
	</ul>
	
</div>
