<div class="slider slider-nissan hide" data-brand="nissan">
    <div class="slide">
        <img src="/images/nissan/kicks.png"class="slide-img car-mazda">
        <h5 class="slide-title">Kicks</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/nissan/march_sense.png"class="slide-img car-mazda">
        <h5 class="slide-title">March Sense</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/nissan/note.png"class="slide-img car-mazda">
        <h5 class="slide-title">Note</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/nissan/np_300.png"class="slide-img car-mazda">
        <h5 class="slide-title">NP 300</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/nissan/sentra.png"class="slide-img car-mazda">
        <h5 class="slide-title">Sentra</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/nissan/tiida.png"class="slide-img car-mazda">
        <h5 class="slide-title">Tiida</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/nissan/versa.png"class="slide-img car-mazda">
        <h5 class="slide-title">Versa</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
</div>
