<div class="slider slider-suzuki hide" data-brand="suzuki">
    <div class="slide">
        <img src="/images/suzuki/ciaz.png" class="slide-img car-mazda">
        <h5 class="slide-title">Ciaz</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/suzuki/gran_vitara.png" class="slide-img car-mazda">
        <h5 class="slide-title">Gran Vitara</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/suzuki/ignis.png" class="slide-img car-mazda">
        <h5 class="slide-title">Ignis</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/suzuki/s_cross.png" class="slide-img car-mazda">
        <h5 class="slide-title">S Cross</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/suzuki/swift.png" class="slide-img car-mazda">
        <h5 class="slide-title">Swift</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
</div>
