<div class="slider slider-mazda"  data-brand="mazda">
    <div class="slide">
        <img src="/images/mazda/mazda2.png"class="slide-img car-mazda">
        <h5 class="slide-title">MAZDA 2</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/mazda/mazda3.png"class="slide-img car-mazda">
        <h5 class="slide-title">MAZDA 3 Sedán</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/mazda/mazda3_hatchback.png"class="slide-img car-mazda">
        <h5 class="slide-title">MAZDA 3 Hatchback</h5>
        <!--<p class="slide-copy">Versión i Touring</p>-->
    </div>
    <div class="slide">
        <img src="/images/mazda/mazda_CX3.png"class="slide-img car-mazda">
        <h5 class="slide-title">MAZDA CX-3</h5>
        <!--<p class="slide-copy">Versión i 2XD</p>-->
    </div>
</div>
