<div class="slider slider-hyundai hide" data-brand="hyundai">
    <div class="slide">
        <img src="/images/hyundai/creta.png"class="slide-img car-mazda">
        <h5 class="slide-title">Creta</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/hyundai/elantra.png"class="slide-img car-mazda">
        <h5 class="slide-title">Elantra</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/hyundai/grand_i10_hatchback.png"class="slide-img car-mazda">
        <h5 class="slide-title">Grand i10 Hatchback</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
    <div class="slide">
        <img src="/images/hyundai/grand_i10_sedan.png"class="slide-img car-mazda">
        <h5 class="slide-title">Grand i10 Sedán</h5>
        <!--<p class="slide-copy">Versión i</p>-->
    </div>
</div>
