<form class="visit-form" action="http://www.afacil.mx/submit-form.php" method="post" id="visitForm">
    <h5 class="form-title">Selecciona un rango de precio</h5>
    <div class="range-wrapper">
        <p class="range-value text-center"></p>
        <input class="range" type="range" min="160000" max="320000" step="5000" value="200000" data-orientation="horizontal" name="range">
        <div class="range-marker-wrapper">
            <span class="range-marker">$160,000</span>
            <span class="range-marker">$200,000</span>
            <span class="range-marker">$250,000</span>
            <span class="range-marker">$320,000</span>
        </div>
    </div>
    <div class="input-field">
        <div class="input-group">
            <label for="name">&nbsp;</label>
            <input type="text" name="name" placeholder="Nombre" required>
        </div>
        <div class="input-group">
            <label for="email">
                &nbsp;</label>
            <input type="email" name="email" placeholder="Tu correo electrónico" required>
        </div>
        <div class="input-group">
            <label for="telephone">
                &nbsp;</label>
            <input type="text" name="telephone" placeholder="Tu teléfono" required>
        </div>
    </div>
    <p class="form-submit">
        <input class="btn btn-negative submit" type="submit" value="SOLICITA UNA VISITA">
    </p>
    <div id="result"></div>
</form>
