---
title: Afacil
---

<section class="section hero" id="home">
    <div class="container">
        <header class="header">
            <img src="/images/logo.png" srcset="/images/logo@2x.png 2x,
             /images/logo@3x.png 3x" class="header-logo">
            <nav class="main-nav nav-collapse">
                <ul id="menu" class="slimmenu">
                    <li>
                        <a class="active" data-scroll href="#home">INICIO</a>
                    </li>
                    <li>
                        <a href="#nosotros" class="modal">NOSOTROS</a>
                    </li>
                    <li>
                        <a data-scroll href="#benefits">BENEFICIOS</a>
                    </li>
                    <li>
                        <a data-scroll href="#visit-form">SOLICITAR VISITA</a>
                    </li>
                    <li>
                        <a href="http://www.afacil.mx/blog/">BLOG</a>
                    </li>
                    <li>
                        <a data-scroll href="#contact">CONTACTO</a>
                    </li>
                </ul>
            </nav>

        </header>
        <div class="hero">
            <h1 class="hero-title">¿ASÍ? O MÁS FÁCIL ESTRENAS TU AUTO</h1>
            <p class="hero-subtitle">Sin comprobante de ingresos · Sin buró de crédito · La comisión más baja</p>
            <p>
              <a data-scroll href="#visit-form" class="btn hero-btn">SOLICITA UNA VISITA</a>
            </p>
            <p class="hero-copy">Agenda una cita con un asesor</p>
        </div>
    </div>
</section>
<section class="section" id="about-us">
    <div class="container">
        <div class="row">
            <h2 class="section-title">ASÍ DE FÁCIL ESTRENAS TU AUTO</h2>
            <span class="section-div"><img src="/images/section-divider.png" srcset="/images/section-divider@2x.png 2x,
             /images/section-divider@3x.png 3x" class="section-divider"></span>
        </div>
        <div class="row">
            <div class="widget-wrapper">
                <div class="widget">
                    <span class="widget-icon_wrapper">
                        <img src="/images/icon-contact.png" srcset="/images/icon-contact@2x.png 2x,
             images/icon-contact@3x.png 3x" class="widget-icon icon-contact">
                    </span>
                    <h4 class="widget-title">CONTÁCTANOS</h4>
                    <p class="widget-copy">Agenda una cita y conoce cómo obtienes tu auto.</p>
                </div>
                <div class="widget">
                    <span class="widget-icon_wrapper">

                        <img src="/images/icon-aval.png" srcset="/images/icon-aval@2x.png 2x,
             /images/icon-aval@3x.png 3x" class="widget-icon icon-aval">
                    </span>
                    <h4 class="widget-title">REQUISITOS</h4>
                    <p class="widget-copy">Son mínimos y sencillos de reunir.</p>
                </div>
                <div class="widget">
                    <span class="widget-icon_wrapper">

                        <img src="/images/icon-car.png" srcset="/images/icon-car@2x.png 2x,
             /images/icon-car@3x.png 3x" class="widget-icon icon-car">
                    </span>
                    <h4 class="widget-title">ESTRENA</h4>
                    <p class="widget-copy">Firma y solo espera tu adjudicación.</p>
                </div>
            </div>
        </div>
        <div class="row feature-single " id="benefits">
            <div class="feature full">
                <img src="/images/bg-car-passengers.jpg" alt="" class="feature-img img-responsive">
                <div class="feature-text">
                    <div class="feature-text_overlay">
                        <h3 class="feature-title">SIN BURÓ DE CRÉDITO</h3>
                        <p class="feature-subtitle">Somos tu mejor opción</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
        <div class="row feature-double" style="margin: -7px 0 0 0;">
            <div class="feature half">
                <img src="/images/bg-dashboard.jpg" alt="" class="feature-img img-responsive">
                <div class="feature-text">
                    <h3 class="feature-title">SIN COMPROBANTE DE INGRESOS*</h3>
                    <p class="feature-subtitle">Nos adaptamos a tus necesidades</p>
                </div>
            </div>
            <div class="feature half">
                <img src="/images/bg-family.jpg" alt="" class="feature-img img-responsive">
                <div class="feature-text">
                    <h3 class="feature-title">LA COMISIÓN MÁS BAJA</h3>
                    <p class="feature-subtitle">Apertura de 1.5% más IVA sobre el valor del auto</p>
                </div>
            </div>
        </div>
      <!--  <p class="small-print">*lscmdskcmdklcdmscmsdklcsdkmcsdkl
            <br>
            * 1.5% slfmfdklvmlksfmvklsvmd</p> -->
    </div>
</section>
<section class="section gray">
    <div class="container">
        <div class="row">
            <h2 class="section-title">ELIGE EL TUYO</h2>
            <span class="section-div"><img src="/images/section-divider.png" srcset="/images/section-divider@2x.png 2x,
             /images/section-divider@3x.png 3x" class="section-divider"></span>
        </div>
        <div class="row">
            <p>
                <ul class="slider-selector">
                    <li class="slider-option active" data-brand="mazda">MAZDA</li>
                    <li class="slider-option" data-brand="hyundai">HYUNDAI</li>
                    <li class="slider-option" data-brand="suzuki">SUZUKI</li>
                    <li class="slider-option" data-brand="nissan">NISSAN</li>
                </ul>
            </p>
        </div>
        <div class="row">
          <%= partial "partials/slider-mazda" %>
        </div>
        <div class="row">
          <%= partial "partials/slider-hyundai" %>
        </div>
        <div class="row">
          <%= partial "partials/slider-nissan" %>
        </div>
        <div class="row">
          <%= partial "partials/slider-suzuki" %>
        </div>
        <div class="row">
            <p>
              <a class="btn" data-scroll href="#visit-form">SOLICITA UNA VISITA</a>
            </p>
        </div>
    </div>
</section>
<section class="section" id="visit-form">
    <div class="container">
        <div class="row">
            <h2 class="section-title">COTIZA TU AUTO Y ESTRENA YA</h2>
            <span class="section-div"><img src="/images/section-divider.png" srcset="/images/section-divider@2x.png 2x,
             /images/section-divider@3x.png 3x" class="section-divider"></span>
        </div>
        <div class="row">
          <%= partial "partials/visit-form" %>
        </div>
    </div>
</section>
<section class="section gray">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="feature half">
                    <a href="#comisiones" class="modal"><img src="/images/bg-business.jpg" alt="" class="feature-img img-responsive"></a>
                    <div class="feature-text">
                        <h3 class="feature-title"><a href="#comisiones" class="modal">COMISIONES</a></h3>
                  <!--      <p class="feature-subtitle"><a href="#comisiones" class="modal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></p> -->
                    </div>
                </div>
                <div class="feature half">
                    <a href="#aviso-privacidad" class="modal"><img src="/images/bg-family-car-mom.jpg" alt="" class="feature-img img-responsive"></a>
                    <div class="feature-text">
                        <h3 class="feature-title"><a href="#aviso-privacidad" class="modal">AVISO DE PRIVACIDAD</a></h3>
                  <!--      <p class="feature-subtitle"><a href="#aviso-privacidad" class="modal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <h2 class="section-title">LAS INSTITUCIONES QUE NOS RESPALDAN</h2>
            <span class="section-div"><img src="/images/section-divider.png" srcset="/images/section-divider@2x.png 2x,
             /images/section-divider@3x.png 3x" class="section-divider"></span>
        </div>
        <div class="row">
            <div class="logo-list">
              <div class="logo-list_wrapper">
                <img src="/images/logo-se.png" srcset="/images/logo-se@2x.png 2x,
             /images/logo-se@3x.png 3x" class="logo-se logo-list_img">
                <img src="/images/logo-profeco.png" srcset="/images/logo-profeco@2x.png 2x,
          /images/logo-profeco@3x.png 3x" class="logo-profeco logo-list_img">
                <img src="/images/logo-shcp.png" srcset="/images/logo-shcp@2x.png 2x, /images/logo-shcp@3x.png 3x" class="logo-shcp logo-list_img">
              </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer" id="contact">
    <div class="container">
        <div class="row">
            <div class="footer-widget">
                <img src="/images/logo.png" srcset="/images/logo@2x.png 2x,
               /images/logo@3x.png 3x" class="footer-logo">
            </div>
            <div class="footer-widget">
                <h3 class="footer-widget_title">CONTACTO</h3>
                <p>Circuito Centro Cívico Ext. 27 Int. 203. Ciudad Satélite Naucalpan Estado de México, México. C.P. 53100</p>
                <p>
                    <a class="footer-widget_link" href="https://goo.gl/maps/J2yaxYTdPZK2" target="_blank">VER MAPA ></a>
                </p>
                <p>Email: <a class="footer-widget_link" href="mailto:contacto@facil.mx">contacto@afacil.mx</a>
                    <br>Teléfono: (55) 5374 0143</p>
            </div>
            <div class="footer-widget">
              <!--  <h3 class="footer-widget_title">BOLSA DE TRABAJO</h3>
                <p>Consulta nuestras vacantes, seguro hay una oportunidad para ti.</p>
                <p>
                    <a class="footer-widget_link" href="">Consultar vacantes ></a>
                </p> -->
                <h3 class="footer-widget_title">REDES SOCIALES</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com/Afacil-SA-de-CV-800723256746700/" target="_blank"><img src="/images/logo-facebook.png" srcset="/images/logo-facebook@2x.png 2x,
             /images/logo-facebook@3x.png 3x" class="logo-facebook logo-social"></a>
                    <a href="https://www.twitter.com/Afacil_SAdeCV/" target="_blank"><img src="/images/logo-twitter.png" srcset="/images/logo-twitter@2x.png 2x,
             /images/logo-twitter@3x.png 3x" class="logo-twitter logo-social"></a>
                  <!--  <a href="">
                        <img src="/images/logo-linkedin.png" srcset="/images/logo-linkedin@2x.png 2x,
             /images/logo-linkedin@3x.png 3x" class="logo-linkedin logo-social"></a>-->
                </div>
            </div>
        </div>
    </div>
</footer>
<a class="scroll-top" href="#"><img src="/images/up-arrow.png" alt=""></a>
<%= partial "partials/modal-buro-credito" %>
<%= partial "partials/modal-comprobante-ingresos" %>
<%= partial "partials/modal-comision-baja" %>
<%= partial "partials/modal-comisiones" %>
<%= partial "partials/modal-aviso-privacidad" %>
<%= partial "partials/modal-nosotros" %>
